body {
  /* background-color: #232B2B; */
  margin: 0;
  display: flex;
  background-color: #232B2B;
  overflow-y: scroll;
  overflow-x: hidden;
  /* width: 900px; */
}
body::-webkit-scrollbar {
  display: none;
}
#hero-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: .2rem;
  font-size: 5em;
}
.hero-image {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: cover;
  background-position: 50% 50%;
  background-image: url("https://wallpapercave.com/wp/wp5396661.jpg");
  padding-top: 0;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
/* ------------------- main page styling ------------------- */
.anime-card {
  display: column;
  height: 200px;
  width: 150px;
  margin: 10px;
  margin-top: 50px;
  transition: transform 450ms;
  text-align:center;
  padding-bottom: 50px;
}
.anime-card:hover {
  transform: scale(1.08);
}
.anime-card-image {
  border: 2px solid white;
  width: 150px;
  height: 200px;
}
#anime-card-category {
  top: 400px;
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: -30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #4CAF50;
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

#new-anime-card-category {
  margin-top: 461px;
  margin-left: 30px;
  margin-bottom: -30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #4CAF50;
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}


#anime-card-title {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.anime-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  cursor: pointer;
  overflow-y: hidden;
  transition: all 0.2s;
  transform: scale(0.98);
  margin-bottom: 50px;
  padding-bottom: 150px;
  width: 100vw;
}

.top-rated-container {
  display: flex;
  float: left;
  cursor: pointer;
  overflow-y: hidden;
  overflow-x: scroll;
  transition: all 0.2s;
  transform: scale(0.98);
  padding-bottom: 100px;
  width: 100vw;
}

.top-rated-card {
  display: column;
  height: 250px;
  width: 200px;
  border: 2px solid white;
  margin: 0.5%;
  margin-top: 2%;
  transition: transform 450ms;
  text-align: center;
}
.top-rated-card:hover {
  transform: scale(1.08);
}
.top-rated-card-image {
  width: 200px;
  height: 250px;
}

.top-rated-container::-webkit-scrollbar {
  display: none;
}
.recommended-container {
  display: flex;
  float: left;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 50px;
  padding-bottom: 100px;
  width: 10000px;
}
.recommended-container::-webkit-scrollbar {
  display: none;
}

.rec-card {
  display: column;
  height: 200px;
  width: 150px;
  margin: 10px;
  margin-top: 50px;
  transition: transform 450ms;
  text-align:center;
  padding-bottom: 50px;
}

.rec-card-image {
  border: 2px solid white;
  width: 150px;
  height: 200px;
}
#rec-card-category {
  top: 400px;
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: -30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #4CAF50;
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

/* --------- Pop Up Description Styling ----------- */
.pop-up-container {
    z-index: 1;
    display: flex;
}

.pop-up-description {
    /* display: none; */
    background-color: #121D1D;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 25%;
    top: 20%;
    width: 50%;
    height: 25%;
    overflow: auto;
    border: 2px solid red;
    border-radius: 10px;
}

/* child */
.description-info {
  display: flex;
  flex-direction: column;
}

#rating, #score {
  margin-top: -10px;
  margin-bottom: 30px;
}

.description-info-2 {
  width: 550px;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.nav-bar-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .2rem;
    font-size: 5em;
    color: red;
    margin-left: 40px;
    text-decoration-line: none;
}
/*
title 
*/
h1 {
  color: red;
}
label{
  color:white
}

.header {
  display: flex;
  background-color: #121D1D;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  color: white;
  display: flex;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}
.site-title {
  font-size: 2rem;
}

.nav-items {
  width: 100px;
}

#specific-item{
  margin-left: 40px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: black;
}
.nav li.hover {
  background-color: red;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

/* Search Bar Css */
.searchbar {
  height: 30px;
  margin-top: 39px;
  margin-left: 400px;
}

.search-input {
  width: 300px;
}

.searchbar {
  display: flex;
  
  justify-content:left;
}

#search_text {
  width: 297px;
  padding: 15px 0 15px 20px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  border: 0 none;
  height: 52px;
  margin-right: 0;
  color: white;
  outline: none;
  background: #1f7f5c;
  float: left;
  box-sizing: border-box;
  transition: all 0.15s;
}

.subscription-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-content: center;
  justify-content: center;
  margin-top: 40px;
}

.subscription {
  width: 600px;
  height: 400px;
  text-align: center;
  border: 2px solid #586c6c;
  border-radius: 10px;
  padding: 40px;
  padding-right: 60px;
  background-color: #e9eded;
  box-shadow: 5px 6px 10px #090b0b;
}
.subscription label {
  color:#f1356d;
  text-align: left;
  display: block;
  color: #090b0b;
}
.subscription h2 {
  font-size: 40px;
  color: red;
  margin-bottom: 30px;
}
.subscription input, .subscription textarea, .subscription select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #090b0b;
  border-radius: 7px;
  display: block;
}
.subscription button {
  background-color: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.description-container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100vw;
  margin-top: 20px;
}

.description {
  display: flex;
  border: 2px solid #586c6c;
  border-radius: 10px;
  flex-direction: row;
  padding: 20px;
  background-color: #e9eded;
  box-shadow: 5px 6px 10px #090b0b;
}

/* child */
.description-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#rating, #score {
  margin-top: -10px;
  margin-bottom: 30px;
}

.description-info-2 {
  width: 550px;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.my-list-container {
  width: 100vw;
  height: 100vh;
}

.my-card-list-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #586c6c;
  border-radius: 10px;
  flex-direction: row;
  padding: 20px;
  background-color: #121D1D;
  box-shadow: 5px 6px 10px #090b0b;
  margin-top: 10px;
}

.my-card-list {
    height: auto;
    width: auto;
    margin: 10px;
    margin-top: 50px;
    transition: transform 450ms;
}

.list-card {
  display: flex;
  flex-direction: column;
  width: 150px;
  text-align: center;
  align-items: center;
}

#my-card-title {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 0.875em;
}

.my-list-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

#link-btn {
  text-align: center;
}

.link-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  margin-left: -20px;
}